@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
  --main-orange-bg: #2c51a8;
  --main-orange-color: #2c51a8;
}

*{
  font-family:'Montserrat', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 1.1rem;
}

nav {
  display: flex;
  padding: 2rem 0;
  background: #111;
}

nav section {
  width: 100%;
}

nav a {
  font-weight: 700;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}

nav a:first-of-type {
  margin-left: -1.5rem;
}

nav a:hover {
  background: #222;
}

a {
  color: #ea3546;
  text-decoration: none;
}

section {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1.5rem;
}

section h1 {
  font-size: 3rem;
}

button.inactive,
a.inactive {
  background-color: #b7b7b7;
}

.Toastify__toast-container {
  z-index: 99999999 !important;
}

.post h2 {
  font-size: 2.5rem;
}

.post-excerpt {
  padding: 1.5rem 0;
  border-bottom: 1px solid #eee;
}

.post-excerpt:first-of-type {
  padding-top: 0;
}

.post-excerpt h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.comment {
  background: #f0f0f0;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin: 1rem 0;
}

.button {
  display: inline-block;
  background: #ea3546;
  color: white;
  border-radius: 4px;
  font-weight: 700;
  padding: 0.75rem 1.5rem;
}

.center {
  text-align: center;
}

.sidebar-page {
  width: 100%;
}

.sidebar-page-title {
  font-weight: bold;
  font-size: 14px;
  color: #868585;
}

.sidebar-title-link {
  background: var(--main-orange-bg);
  border-radius: 8px;
  color: #fff;
  padding: 0.3rem 1rem;
  font-weight: bold;
  font-size: 15px;
}
.closing-link {
  background: #ea3546;
  border-radius: 8px;
  color: #fff;
  padding: 0.3rem 1rem;
  font-weight: bold;
  font-size: 15px;
}

.button-link {
  background: var(--main-orange-bg);
  border-radius: 3px;
  color: #fff;
  padding: 0.5rem 1.6rem;
  font-weight: bold;
  font-size: 15px;
  width: 15rem;
  height: 2.4rem;
}

.sidebar-title-link.large {
  padding: 0.5rem 1rem;
  font-size: 13px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.gray-page {
  background-color: #eaeaea;
}

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-pagination {
  display: flex;
}

.table-pagination .pagination-item {
  background: #eaeaea;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.3rem;
  font-weight: bold;
  color: #868585;
  cursor: pointer;
}

.table-pagination .pagination-item.active {
  background: var(--main-orange-bg);
  color: #fff;
}

.table-pagination .pagination-item p {
  font-size: 13px;
}


.test-profile img {
  border-radius: 50%;
  height: 10rem;
}

.test-profile .names {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 22px;
}

.test-profile .role {
  margin-top: 1rem;
  font-weight: 700;
  color: gray;
}

.test-profile .other-info {
  width: 90%;
  min-height: 10rem;
  margin-top: 2rem;
  list-style-type: circle;
}

.test-profile .other-info li {
  margin-top: 0.5rem;
}

.dashboard-title p {
  background: #bab8b8;
  border-radius: 5px;
  width: max-content;
  margin: auto;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 30px;
}

.parent .hidden-child {
  visibility: hidden;
}

.parent:hover .hidden-child {
  visibility: visible;
  display: block;
}
.position-label {
  margin-left: 1%;
  font-size: 16px !important;
}
.position-radios {
  display: flex;
  flex-wrap: wrap;
}
.position-radios > div {
  margin: 0% 3% 1.5% 0% !important;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}
 
.custom-scrollbar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(3, 119, 196, 0.459);
  }

@media screen and (min-width: 992px) {
  .sidebar-page {
    width: 80%;
    margin-left: 20%;
  }
  .test-profile .other-info {
    width: 70%;
  }
}
